@media (min-width:1200px){.myResponsive{padding: 0 10%;}}
@media (min-width:992px) and (max-width:1200px){.myResponsive{padding: 0 8%;}}
@media (min-width:768px) and (max-width:992px){.myResponsive{padding: 0 6%;}}
@media (min-width:576px) and (max-width:768px){.myResponsive{padding: 0 4%;}}
@media (max-width:576px){.myResponsive{padding: 0 2%;}}
html{
    min-width: 1024px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: inline-block;
}
/*导航栏*/
#home-breadcrumb{
	background-color: #DD2727;
	margin-top: 20px;
}
#home-breadcrumb>div{
	display: flex;
}
#home-breadcrumb a{
	font-size: 16px;
	color: white;
	text-decoration:none;
	display: inline-block;
	padding:5px 0;
	flex: 1;
}
#home-breadcrumb span{
	font-size: 16px;
}
#myDropdown-button{
	background-color: #C60A0A;
	display: inline-block;
	padding: 5px 0;
	border: none;
	outline: none;
	font-size: 16px;
	color: white;
	text-decoration:none;
	margin-right: 30px;
	width: 200px;
}
#home-breadcrumb img{
	margin-right: 5px;
}
/*鼠标悬停菜单*/
#myDropdown-menu{
	background-color: #e2e2e3;
	display: none;
	z-index: 2;
	position: absolute;
	width: 200px;
}
.myDropdown-menu{
	padding-left: 2rem;
}
.myDropdown-menu:hover{
	background-color: white;
}
.myDropdown-menu a{
	color: #000;
	font: 14px black;
	line-height: 30px;
}
.myDropdown-menu a:hover{
	text-decoration: none;
	color: #C40000;
}
.myDropdown-item{
	position: absolute;
	margin-left: 200px;
	padding :0px 50px;
	z-index: 1;
	background-color: white;
	display: none;
	width: 750px;
}
.row a{
	color: #999;
	font-size: 14px;
	margin: 0 10px;
	text-decoration:none;
}
.row{
	border-bottom: dotted 1px #999;
	background-color: white;
	padding: 15px 0;
}
/*轮播*/
.carousel-indicators li{
	height: 10px !important;
	width: 10px !important;
	border-radius:50% !important;
	border: none !important;
}
/*产品列表*/
#home-Category{
	background-color: #F5F5F5;
	margin-top: 20px;
	padding: 20px 20px;
}
.home-greenTip{
	display: inline-block;
	vertical-align: top;
	height: 20px;
	width: 5px;
	background-color: #19C8A9;
}
.categoryTitle{
	font-size: 16px;
	color: #646464;
	font-weight: bold;
	vertical-align: top;
}
.each-Category{
	display: flex;
	padding: 15px 0;
}
.productItem{
	display: inline-block;
	flex: 1;
	margin: 0 10px;
}
.productItem a{
	text-decoration:none;
}
.productItem-introduction{
	font-size: 12px;
	color: #666666;
	margin: 5px 0;
}
.productItem-price{
	font-size: 16px;
	color: #FF003A;
}