@media (min-width:1200px){.myResponsive{padding: 0 10%;}}
@media (min-width:992px) and (max-width:1200px){.myResponsive{padding: 0 8%;}}
@media (min-width:768px) and (max-width:992px){.myResponsive{padding: 0 6%;}}
@media (min-width:576px) and (max-width:768px){.myResponsive{padding: 0 4%;}}
@media (max-width:576px){.myResponsive{padding: 0 2%;}}
html{
    min-width: 1024px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: inline-block;
}
.nav{
	margin: 50px 0 !important;
}
.nav a{
	color: #666666;
}
table{
	font-size: 12px;
	margin: 20px;
	border: solid 1px #dee2e6;
}
table:first-of-type .fixed-th{
	width: 80px;
}
table img{
	width: 80px;
	line-height: 80px;
}
.myOrder-title{
	background-color: #f5f5f5;
}
