@media (min-width:1200px){.myResponsive{padding: 0 10%;}}
@media (min-width:992px) and (max-width:1200px){.myResponsive{padding: 0 8%;}}
@media (min-width:768px) and (max-width:992px){.myResponsive{padding: 0 6%;}}
@media (min-width:576px) and (max-width:768px){.myResponsive{padding: 0 4%;}}
@media (max-width:576px){.myResponsive{padding: 0 2%;}}
html{
    min-width: 1024px;
}
#header-nav{
	background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom:1px solid  #e7e7e7;
    height: 30px;
}
#header-nav>.float-left>a , #header-nav>.float-left>span{
    margin-right: 20px;
}
#header-nav>.float-right>a , #header-nav>.float-right>span{
    margin-left: 20px;
}
#header-nav a,#header-nav span{
    font-size: 12px !important;
    color: #999;
}
#header-nav a:hover{
    color: #C40000;
    text-decoration: none;
}
.red-color{
	color: #C40000 !important;
    margin: 0px 0px 0px 10px !important;
}
#header-logo{
    display: inline-block;
}
#header-search{
    width: 50%;
    margin-top: 20px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.header-search-box input
{
    width: 75%;
    height: 40px;
    border: 2px solid #C40000;
    font-size: 16px;
    outline:none;
    padding: 5px 0px 5px 5px;
}
.header-search-box button
{
    width: 25%;
    height: 40px;
    background-color: #C40000;
    border: 2px solid #C40000;
    color: white;
    font:20px bold;
    vertical-align: top;
    outline:none;
    padding: 5px 0px 5px 0px;
}
.header-search-goods{
	font-size: 14px;
	margin-top:5px;
}
.header-search-goods a,.header-search-goods span{
	color: #999;
    margin: 0px 5px 0px 5px;
}